<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Data Enjoyers - Video Game AI</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='scripts.js') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
                <div class="container px-5">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Video Games 2022</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('Game_Recommender') }}">Game Recommender</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('Genre_Predictor') }}">Game Predictions</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('KNN_Model') }}">ESRB Rating Predictions</a></li>


                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="idx-bg-grad">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                            <center>    <h1 class="display-5 fw-bolder text-white mb-2">Data Enjoyers Video Game AI</h1>
                                <p class="fw-normal text-white mb-4 fs-5">Using Video Game datasets and AI to predict game statistics, suggestions for you, and an ESRB rating.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                  <a class="btn btn-primary btn-lg px-4 me-sm-3 ms-5" href="{{ url_for('Game_Recommender') }}">Team 1</a>
                                  <a class="btn btn-primary btn-lg px-4 me-sm-3 ms-5" href="{{ url_for('Genre_Predictor') }}">Team 2</a>
                                  <a class="btn btn-primary btn-lg px-4 me-sm-3 ms-5" href="{{ url_for('KNN_Model') }}">Team 3</a>
                                      </div>
                            </center>
                                </div>
                            </div>
                        </div>
                    </div>
              </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Our 3 Teams</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-dice-1-fill"></i></div>
                                    <h2 class="h5">Team 1</h2>
                                    <p class="mb-0">Team 1 made a model that allows you to see critic scores, rating scores, and global sales on a game to recommend you a better rated game.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-dice-2-fill"></i></div>
                                    <h2 class="h5">Team 2</h2>
                                    <p class="mb-0">Team 2 made a model that allows users to insert specific requirements and find data of video games with the specified requirements.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-dice-3-fill"></i></div>
                                    <h2 class="h5">Team 3</h2>
                                    <p class="mb-0">Team 3 made a model that allows you to get predictions of an ESRB rating on a certain game, they also made heat maps to show their data to the user.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-badge-fill"></i></div>
                                    <h2 class="h5">Cameron Jackson</h2>
                                    <p class="mb-0">:)
                                      </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"coolest class ever"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="{{ url_for('static', filename='imgs/cam_is_ham.png') }}" alt="..." />
                                    <div class="fw-bold">
                                        Cameron Jackson
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Coach
                                    </div>
                                </div>
                            </div>
                          <br><hr>
                          <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"So I Herd U Liek Mudkips"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="{{ url_for('static', filename='imgs/MudkipEmote.png') }}"width=40 height=40 alt="..." />
                                    <div class="fw-bold">
                                        Reese Satzman
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        The man, the myth, the Mudkip
                                      
                                    </div>
                                </div>
                            <br><br><hr>
                            </div>
                          <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"hi"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="{{ url_for('static',filename='imgs/Screenshot_111_40x40.png') }}" alt="..." />
                                    <div class="fw-bold">
                                        Colin
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Team 2
                                      
                                    </div>
                                </div>
                            </div>
                          <br><br><hr>
                        </div>
                          <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"b t k t"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://www.simpleimageresizer.com/_uploads/photos/b7b930f6/Screenshot_110_40x40.png" alt="..." />
                                    <div class="fw-bold">
                                        Jonah / BlackjackBBX
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Team 3<div style='text-align:center'></div>
                                  </div>
                            </div>
                      </div>
                          <br><hr>
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"bites you"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="{{ url_for('static',filename='imgs/cropped-2560-1600-979697.jpg') }}" alt="..." width = 40 height = 40/>
                                    <div class="fw-bold">
                                        Isabelle
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Team 3
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
                                      

        <!-- Footer-->
        <footer class="bg-blue py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
                  
      </main>
    </body>
</html>
